{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <script>
        $(document).on('click', 'button', function () {
                let $tr = $(this).closest('tr');
                let _class = $(this).attr('class');
                if (_class === 'delete') {
                    let _prompt = prompt('Сколько акций купить?', '');
                    if (_prompt === null) {
                        return
                    }
                if (isNaN(_prompt)) {
                    alert('Введите число');
                    return
                } else {
                    symbol = $(this).attr('name');
                    console.log('alo' + symbol);
                    let price = $('#price_' + symbol).text().replace('$', '');
                    $.ajax({
                        type: 'POST',
                        url: '/selling',
                        data: JSON.stringify({'shares': _prompt, 'symbol': symbol, 'price': price}),
                        contentType: "application/json",
                        success: function (data) {
                            shares = data['share'];
                            old_total = parseFloat($('#' + '_' + symbol).text().replace('$', '').replace(',', ''));
                            new_total = old_total + data['price'];
                            $('#cash').text('$' + data['cash'].toFixed(2));
                            console.log($('#' + symbol).text());
                            $('#' + symbol).text(shares);
                            $('#_' + symbol).text('$' + parseFloat(data['total']).toFixed(2));
                        },
                    })
                }
                }
                if (_class === 'add') {
                    console.log('add');
                    let _prompt = prompt('Сколько акций продать?', '');
                if (_prompt === null) {
                    return
                }
                if (isNaN(_prompt)) {
                    alert('Введите число');
                    return
                } else {
                    symbol = $(this).attr('name');
                    shares = parseInt($('#' + symbol).text());
                    if (shares < _prompt) {
                        alert('Вы не можете продать столько акций!');
                        return
                    }
                    let price = $('#price_' + symbol).text().replace('$', '');
                    $.ajax({
                        type: 'POST',
                        url: '/buying',
                        data: JSON.stringify({'shares': _prompt, 'symbol': symbol, 'price': price}),
                        contentType: "application/json",
                        success: function (data) {
                            shares = data['share'];
                            if (shares == 0) {
                                $tr.find('td').fadeOut(1000,function(){
                                $tr.remove();
                                });
                            }
                            old_total = parseFloat($('#' + '_' + symbol).text().replace('$', '').replace(',', ''));
                            $('#' + symbol).text(shares);
                            new_total = old_total - data['price'];
                            $('#cash').text('$' + data['cash'].toFixed(2));
                            $('#_' + symbol).text('$' + parseFloat(data['total']).toFixed(2));
                        },
                    });
                }
                }
            }
        );
    </script>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
                <th>Buy</th>
                <th>Sell</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows_portfolios %}
                <tr>
                    <td>{{row.symbol}}</td>
                    <td>{{row.name}}</td>
                    <td id="{{row.symbol}}">{{row.shares}}</td>
                    <td id="price_{{ row.symbol }}">${{row.price}}</td>
                    <td id="_{{ row.symbol }}">{{row.total | usd}}</td>
                    <td><button name="{{ row.symbol }}" class="delete">Buy</button></td>
                    <td><button name="{{ row.symbol }}" class="add">Sell</button></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td id="cash">{{ current_cash | usd}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}