{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
        <fieldset>
            <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in puck %}
                <tr>
                    <td>{{quote.companyName}}</td>
                    <td>{{quote.symbol}}</td>
                    <td>${{quote.latestPrice}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
            <div class="form-group">
                <input autocomplete="off" autofocus id="input" class="form-control" name="symbol" placeholder="Symbol" type="text"/>
            </div>
        </fieldset>
    <form id="quote" method="post">
            <div class="form-group">
                <button class="btn btn-default" type="submit">Quote</button>
            </div>
    </form>
    <p id="quote_result"></p>
{% endblock %}